page-start {
  .backgroundImage{
    position: absolute;
    height:100%;
    width:100%;
    background-image: url("../../assets/imgs/splash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }

  .birdbox{
    position: absolute;
    top:50%;
    height:10%;
    width:100%;
    animation-name: flyAround;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    transform: translateX(-100%);
  }

  @keyframes flyAround{
    0%{
      transform: translateX(-100%);
    }
    40%{
      transform: translateX(0px);
    }
    60%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(100%);
    }
  }

  .bird{
    position: absolute;
    width: 0;
    height: 0;
    left:calc(50% - 60px);
    border-style: solid;
    border-width: 0 100px 100px 10px;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    transform-origin: 50% 100%;
  }
  .bird1{
    border-color: transparent transparent #00cc99 transparent;
    animation-name: fly1;
  }
  .bird2{
    border-color: transparent transparent #009999 transparent;
    animation-name: fly2;
    transform: rotateX(120deg) scaleY(-1);
  }
  @keyframes fly1{
    0%{
      transform: rotateX(20deg);
    }
    50%{
      transform: rotateX(120deg);
    }
    0%{
      transform: rotateX(20deg);
    }
  }
  @keyframes fly2{
    0%{
      transform: rotateX(120deg) scaleY(-1);
    }
    50%{
      transform: rotateX(20deg) scaleY(-1);
    }
    0%{
      transform: rotateX(120deg) scaleY(-1);
    }
  }


  /*

  .logo{
    position: absolute;
    top:50%;
    height:10%;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    animation-name: flyInAndOut;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    transform: translateX(-100%);
  }
  .heinekingmedia1{
    background-image: url("../../assets/imgs/heinekingmedia1.png");
    animation-delay: 0.1s;
  }
  .heinekingmedia2{
    background-image: url("../../assets/imgs/heinekingmedia2.png");
    animation-delay: 0.2s;
  }
  .heinekingmedia3{
    background-image: url("../../assets/imgs/heinekingmedia3.png");
    animation-delay: 0.4s;
  }
  .heinekingmedia4{
    background-image: url("../../assets/imgs/heinekingmedia4.png");
    animation-delay: 0.8s;
  }

  @keyframes flyInAndOut{
    0%{
      transform: translateX(-100%);
    }
    40%{
      transform: translateX(0px);
    }
    60%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(100%);
    }
  }
  */
}
