<ion-header>
</ion-header>

<ion-content no-bounce>
  <div class="backgroundImage"></div>
  <div class="birdbox">
    <div class="bird bird1"></div>
    <div class="bird bird2"></div>
  </div>
</ion-content>
