page-about {
  .profileimage{
    width:100%;
    padding-top:100%;
    background-image: url(../../assets/imgs/profileimage.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon_placeholder{
    margin-right: 10px;
  }

  .list-md, .list-ios{
    background-color: white;
  }

  .xing{
    background-image: url(../../assets/imgs/xing.png);
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .linkedin{
    background-image: url(../../assets/imgs/linkedin.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .texticon{
    margin:5px;
  }

}
