<ion-header>
  <ion-navbar>
    <ion-title>
      Lebenslauf
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <div *ngIf="!accessProvider.isAvailable" class="lockContainer">
    <ion-card>
      <div class="lock">
        <ion-icon name="lock"></ion-icon>
      </div>
      <div class="text">
        <p>
          Dieser Bereich ist Passwortgeschützt. Ein entsprechendes Passwort liegt den Ihnen zugeschickten Unterlagen bei, oder kann per E-Mail angefordert werden:
          <a href="mailto:info@henry-spaceman.com">Passwort anfordern</a>
        </p>
      </div>
    </ion-card>
    <button full ion-button (click)="accessProvider.enableByPassword()"><ion-icon name="create" class="icon_placeholder"></ion-icon>Freischalten mit Passwort</button>
    <button full ion-button (click)="accessProvider.enableByQRCode()"><ion-icon name="qr-scanner" class="icon_placeholder"></ion-icon>Freischalten mit QR-Code</button>
  </div>
  <div *ngIf="accessProvider.isAvailable">
    <div class="profileimage fadeIn"></div>
    <ion-list no-lines>
      <ion-item-divider>
        <ion-icon item-left name="briefcase" color="primary"></ion-icon>Berufserfahrung
      </ion-item-divider>
      <ion-item text-wrap>
        <div item-left>
          2016 – 2019
        </div>
        Web- & App-Entwickler<br>
        Quantumfrog GmbH
      </ion-item>
      <ion-item text-wrap>
        <div item-left>
          2015 – 2016
        </div>
        Praxisphase mit Bachelorarbeit<br>
        Quantumfrog GmbH
      </ion-item>
      <ion-item-divider>
        <ion-icon item-left name="school" color="primary"></ion-icon> Ausbildung
      </ion-item-divider>
      <ion-item text-wrap>
        <div item-left>
          2011 – 2016
        </div>
        Studium Medientechnik<br>
        (Bachelor of Engineering)<br>
        Hochschule Emden/Leer
      </ion-item>
      <ion-item text-wrap>
        <div item-left>
          2003 – 2010
        </div>
        Neues Gymnasium Oldenburg (Abitur)
      </ion-item>
      <ion-item text-wrap>
        <div item-left>
          2001 – 2003
        </div>
        Orientierungsstufe Flötenteich
      </ion-item>
      <ion-item text-wrap>
        <div item-left>
          1997 – 2001
        </div>
        Grundschule Etzhorn
      </ion-item>
      <ion-item-divider>
        <ion-icon item-left name="bulb" color="primary"></ion-icon>Fachspezifische Fähigkeiten
      </ion-item-divider>
      <ion-list-header>
        Frameworks:
      </ion-list-header>
      <ion-item text-wrap>
        Cordova, <ion-icon name="ios-ionic" class="texticon"></ion-icon>Ionic, <ion-icon name="logo-angular" class="texticon"></ion-icon>Angular, <ion-icon name="logo-wordpress" class="texticon"></ion-icon>Wordpress
      </ion-item>
      <ion-list-header>
        Programmier- und Auszeichnungssprachen:
      </ion-list-header>
      <ion-item text-wrap>
        Objective-C, Swift, JavaScript, TypeScript, HTML(5), (S)CSS, PHP, SQL
      </ion-item>
      <ion-list-header>
        Entwicklungsumgebungen:
      </ion-list-header>
      <ion-item text-wrap>
        Xcode, Eclipse
      </ion-item>
      <ion-list-header>
        Weitere Erfahrungen:
      </ion-list-header>
      <ion-item text-wrap>
        Microsoft Azure, Microsoft Office, Adobe Photoshop, Adobe Illustrator, Apache Server
      </ion-item>
      <ion-item-divider>
          <ion-icon item-left name="ice-cream" color="primary"></ion-icon>Freizeitaktivitäten
      </ion-item-divider>
      <ion-item text-wrap>
        Umsetzung eigener Software-Ideen
      </ion-item>
      <ion-item text-wrap>
        Experimentelle Klangerzeugung auf Klavier- und E-Piono, Gitarre
      </ion-item>
      <ion-item text-wrap>
        Freies Lauf- und Körpertraining
      </ion-item>
      <ion-item text-wrap>
        Bogenschießen
      </ion-item>
      <ion-item-divider>
          <ion-icon item-left name="contact" color="primary"></ion-icon>Kontakt
      </ion-item-divider>
      <ion-item (click)="call()">
        <ion-icon name="call" item-left></ion-icon>
        017684350106
      </ion-item>
      <ion-item (click)="mail()">
        <ion-icon name="mail" item-left></ion-icon>
        henrik.mey@web.de
      </ion-item>
    </ion-list>
  </div>
  <div class="bottom_placeholder"></div>
  <ion-fab right top *ngIf="accessProvider.isAvailable">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab class="xing" (click)="goToXing()"></button>
      <button ion-fab class="linkedin" (click)="goToLinkedIn()"></button>
      <button ion-fab (click)="call()"><ion-icon name="call"></ion-icon></button>
      <button ion-fab (click)="mail()"><ion-icon name="mail"></ion-icon></button>
      <!--<button ion-fab (click)="goToWebsite()"><ion-icon name="at"></ion-icon></button>-->
    </ion-fab-list>
  </ion-fab>
</ion-content>
<div class="footer">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
</div>
