<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Bewerbung" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Lebenslauf" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Anhänge" tabIcon="attach"></ion-tab>
  <!--
  <ion-tab [root]="tab4Root" tabTitle="Notizen" tabIcon="list"></ion-tab>
  -->

</ion-tabs>
