
page-notes {

  .background{
    height:60%;
  }

  .item-ios p, .item-md p{
    color:#666;
  }
  .content-ios, .content-md{
    background-color: #f9f9f9;
  }

  .birdbox_placeholder{
    height:10%;
  }
  .birdbox{
    position: sticky;
    z-index: -1000;
    padding-top:20px;
    height:200px;
    width:100%;
    animation-name: flyIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    transform: translateX(-100%);
  }
  @keyframes flyIn{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0px);
    }
  }
  .bird{
    position: absolute;
    width: 0;
    height: 0;
    left:calc(50% - 60px);
    border-style: solid;
    border-width: 0 100px 100px 10px;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    transform-origin: 50% 100%;
  }
  .bird1{
    border-color: transparent transparent #00cc99 transparent;
    animation-name: flyIn1;
    transform: rotateZ(-10deg) translateZ(1px) rotateY(5deg);
  }
  .bird2{
    border-color: transparent transparent #009999 transparent;
    animation-name: flyIn2;
    transform: rotateX(-20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
  }
  @keyframes flyIn1{
    0%{
      transform: rotateX(-20deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    10%{
      transform: rotateX(-120deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    20%{
      transform: rotateX(-20deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    30%{
      transform: rotateX(-120deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    40%{
      transform: rotateX(-20deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    60%{
      transform: rotateX(-20deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    70%{
      transform: rotateX(-60deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    80%{
      transform: rotateX(-20deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
    100%{
      transform: rotateX(-20deg) rotateZ(-10deg) translateZ(1px) rotateY(5deg);
    }
  }
  @keyframes flyIn2{
    0%{
      transform: rotateX(20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    10%{
      transform: rotateX(120deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    20%{
      transform: rotateX(20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    30%{
      transform: rotateX(120deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    40%{
      transform: rotateX(20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    60%{
      transform: rotateX(20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    70%{
      transform: rotateX(60deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    80%{
      transform: rotateX(20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
    100%{
      transform: rotateX(20deg) rotateZ(-10deg) scaleX(-1) rotateY(5deg);
    }
  }

/*
  .logo_container{
    position: relative;
    width:100%;
    height:100%;
    height:10%;
    margin-top:20px;
    margin-bottom:20px;
  }

  .logo{
    position: absolute;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    animation-name: flyIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    transform: translateX(-100%);
  }
  .heinekingmedia1{
    background-image: url("../../assets/imgs/heinekingmedia1.png");
    animation-delay: 0.05s;
  }
  .heinekingmedia2{
    background-image: url("../../assets/imgs/heinekingmedia2.png");
    animation-delay: 0.1s;
  }
  .heinekingmedia3{
    background-image: url("../../assets/imgs/heinekingmedia3.png");
    animation-delay: 0.2s;
  }
  .heinekingmedia4{
    background-image: url("../../assets/imgs/heinekingmedia4.png");
    animation-delay: 0.4s;
  }

  @keyframes flyIn{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0px);
    }
  }
  */

  .sign{
    width:100%;
    height:50px;
    background-image: url("../../assets/imgs/sign.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size:contain;
  }

  .placeholder{
    width:100%;
    height:80px;
  }

  .slideIcon{
    font-size: 25px;
  }

  

}
