<ion-header>
  <ion-navbar>
    <ion-title>Notizen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-fab center top (click)="goToEditNote(-1)">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab *ngIf="reorder" right top (click)="toggleReorder()">
    <button ion-fab><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
  <ion-fab *ngIf="!reorder" right top (click)="toggleReorder()">
    <button ion-fab><ion-icon name="list"></ion-icon></button>
  </ion-fab>
  <div class="background">
    <div class="placeholder"></div>
    <ion-list reorder={{reorder}} (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding #item *ngFor="let note of notes, let i=index">
        <ion-item text-wrap>
          <div class="text" (click)="goToEditNote(i)">
            <p>
              {{note}}
            </p>
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button class="slideIcon" ion-button (click)="goToEditNote(i)"><ion-icon name="md-create"></ion-icon></button>
          <button class="slideIcon" ion-button (click)="share(note)"><ion-icon name="share-alt"></ion-icon></button>
          <button class="slideIcon" ion-button color="danger" (click)="delete(index)"><ion-icon name="trash"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="bottom_placeholder"></div>
</ion-content>

<div class="footer">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
</div>
