<ion-header>
  <ion-navbar>
    <ion-title>
      Anhänge
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <div *ngIf="!accessProvider.isAvailable" class="lockContainer">
    <ion-card>
      <div class="lock">
        <ion-icon name="lock"></ion-icon>
      </div>
      <div class="text">
        <p>
          Dieser Bereich ist Passwortgeschützt. Ein entsprechendes Passwort liegt den Ihnen zugeschickten Unterlagen bei, oder kann per E-Mail angefordert werden:
          <a href="mailto:info@henry-spaceman.com">Passwort anfordern</a>
        </p>
      </div>
    </ion-card>
    <button full ion-button (click)="accessProvider.enableByPassword()"><ion-icon name="create"></ion-icon>Freischalten mit Passwort</button>
    <button full ion-button (click)="accessProvider.enableByQRCode()"><ion-icon name="qr-scanner"></ion-icon>Freischalten mit QR-Code</button>
  </div>
  <div *ngIf="accessProvider.isAvailable">
    <ion-list no-lines>
      <ion-item (click)="showArbeitszeugnis()">
        <ion-icon name="paper" item-start></ion-icon>
        Letztes Arbeitszeugnis
      </ion-item>
      <ion-item (click)="showBachelorurkunde()">
        <ion-icon name="paper" item-start></ion-icon>
        Bachelorurkunde
      </ion-item>
      <ion-item (click)="showBewerbung()">
        <ion-icon name="paper" item-start></ion-icon>
        Bewerbung als PDF
      </ion-item>
      <ion-item (click)="showBetriebshelfer()">
        <ion-icon name="paper" item-start></ion-icon>
        Betriebshelfer-Bescheinigung
      </ion-item>
    </ion-list>
  </div>
  <div class="bottom_placeholder"></div>
</ion-content>
<div class="footer">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
</div>
