<ion-header>
  <ion-navbar>
    <ion-title>Bewerbung</ion-title>
    <!--
    <ion-buttons end>
      <button ion-button (click)="goToImprint()">Impressum</button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>


<ion-content no-bounce>
  <!--
  <div class="logo_container">
    <div class="logo heinekingmedia1"></div>
    <div class="logo heinekingmedia2"></div>
    <div class="logo heinekingmedia3"></div>
    <div class="logo heinekingmedia4"></div>
  </div>
  -->
  <div class="birdbox">
    <div class="bird bird1"></div>
    <div class="bird bird2"></div>
  </div>
  <div class="background">
    <ion-card>
      <div class="text">
        <p>
          Guten Tag,
        </p>
        <br>
        <p>
          vielen Dank, dass Sie sich meine Bewerbungs-App heruntergeladen haben. Da diese App öffentlich zugänglich ist, geht sie nicht direkt auf Ihr Unternehmen ein und unterscheidet sich deshalb entsprechend von der Papierform. Aus dem gleichen Grund sind auch mein Lebenslauf und die Anhänge passwortgeschützt. Ein entsprechendes Passwort liegt der Papierform bei, oder kann per E-Mail angefordert werden:
          <a href="mailto:info@henry-spaceman.com">Passwort anfordern</a>
        </p>
        <br>
        <p>
          Ich bewerbe ich mich als App-Entwickler in Ihrem Hause.
        </p>
        <p>
          Ich bin 28 Jahre alt und in Oldenburg aufgewachsen. Nach meinem Zivildienst habe ich Medientechnik an der Hochschule in Emden studiert, meinen Bachelor-Abschluss erlangt und arbeite seitdem für die Quantumfrog GmbH aus Oldenburg. Vor kurzem bin ich nach Hannover gezogen und suche hier vor Ort nach neuen Herausforderungen.<br>
        </p>
        <p>
          Bereits während meines Studiums der Medientechnik an der Hochschule in Emden durfte ich feststellen, welche technischen und kreativen Möglichkeiten die Web- und Appentwicklung bietet. Bei meinem jetzigen Arbeitgeber habe ich mich auf die Appentwicklung spezialisiert. Dabei bin ich sowohl vertraut mit der nativen iOS-Entwicklung (Objective-C & Swift) als auch mit der webbasierten Crossplattform-Entwicklung (Angular JS, Cordova, Ionic) für iOS/Android/Mac/PC und habe bereits viele Projekte für verschiedene große Kunden erfolgreich umgesetzt. Dazu gehören eine der größten deutschen gesetzlichen Krankenversicherungen sowie ein hiesiges Energieunternehmen und zahlreiche Privatunternehmer.
        </p>
        <p>
          Ich bin offen für verschiedene Arbeitsweisen und habe Freude daran, mich in neue Aufgabengebiete und Programmiersprachen einzuarbeiten.
        </p>
        <p>
          Gerne komme ich für ein Gespräch vorbei oder stehe für ein Telefonat bereit, um weitere Fragen zu klären.
        </p>
        <br>
        <p>
          Liebe Grüße
        </p>
        <div class="sign"></div>
        <p>
          Henrik Meyer<br>
          Softwareentwickler
        </p>
      </div>
    </ion-card>
    <br>
    <div class="link" (click)="goToImprint()">Impressum</div>
    <br>
    <div class="link" (click)="goToTerms()">Datenschutz</div>
  </div>
  <div class="bottom_placeholder"></div>
</ion-content>

<div class="footer">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
</div>
