// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.card-md, .card-ios{
  background-color:#fff;
}

.text{
  padding:20px;
  font-size: 20px;
}

.fadeIn{
  animation-name: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 0s;
}
@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.footer{
  bottom:0px;
  position: absolute;
  width:100%;
  height:30%;
  overflow:visible;
}

.triangle1{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, #00cc99 40%, #00cc99 100%);
  //opacity: 0.8;
  transform: scaleX(-1);
}

.triangle2{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, #009999 50%, #009999 100%);
  //opacity: 0.8;
}

.bottom_color{
  position: absolute;
  height:500px;
  width:100%;
  background-color: #009999;
  bottom:0px;
}

.lock{
  margin-top:20px;
  font-size: 40px;
  text-align: center;
  color:gray;
}

.lockContainer{
  width:100%;
  height:70%;
}

.bottom_placeholder{
  width:100%;
  height:30%;
}

.top_placeholder{
  width:100%;
  height:30%;
}

ion-item {
    transition: .3s ease-in-out;
}

.exit-enter-styles {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
}
