<!--
  Generated template for the EditNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="index==-1">
      Neue Notiz
    </ion-title>
    <ion-title *ngIf="index>-1">
      Notiz bearbeiten
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="background">
    <ion-card>
      <div class="text">
        <ion-textarea [(ngModel)]="text" placeholder="Notiz"></ion-textarea>
      </div>
    </ion-card>
  </div>
  <ion-fab *ngIf="!reorder" center bottom>
    <button [disabled]="text==''" ion-fab (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>
